__pycache__/
edenai_apis/api_keys/*
!edenai_apis/api_keys/*_template.json
build/
*.egg-info/
.eggs/

*.swp
*.pyc


*ApiOld.py

Pipfile
Pipfile.lock

.venv
**/.coverage
htmlcov

media

.vscode
.idea
.env

pyrightconfig.json

*.env*
.pre-commit-config.yaml
