include edenai_apis/apis/*/outputs/*/*.json
include edenai_apis/apis/*/info.json
include edenai_apis/features/*/data/*
include edenai_apis/features/audio/*/*.json
include edenai_apis/features/image/*/*.json
include edenai_apis/features/llm/*/*.json
include edenai_apis/features/multimodal/*/*.json
include edenai_apis/features/ocr/*/*.json
include edenai_apis/features/ocr/identity_parser/countries.json
include edenai_apis/features/text/*/*.json
include edenai_apis/features/translation/*/*.json
include edenai_apis/features/video/*/*.json
recursive-include edenai_apis/utils *
