ffmpeg-python
langcodes
language-data
pandas
pdf2image
pillow
pycountry
pydantic==2.7.4
pylint
mypy
pydub
PyPDF
sagemaker
python-magic

#doc
sphinx
furo

#postgres
psycopg2

#test
pytest-mock
pytest-cov
pytest==7.4.4
pytest-xdist
pytest-timeout

#affinda
affinda

#amazon
amazon-textract-response-parser
boto3==1.35.84

#clarifai
clarifai-grpc==9.10.7

#google

google-api-python-client==2.88.0
google-cloud-documentai==2.15.0
google-cloud-language==2.10.0
google-cloud-speech==2.26.0
google-cloud-storage==2.9.0
google-cloud-texttospeech==2.14.1
google-cloud-translate==3.11.1
google-cloud-vision==3.4.2
google-cloud-videointelligence==2.11.2
google-cloud-automl==2.11.1
google-cloud-aiplatform==1.35.0

#ibm
ibm-watson>=6.0.0
watson-developer-cloud

#lettria
lettria==6.0.0

#microsoft
azure-ai-formrecognizer==3.3
azure-cognitiveservices-speech
azure-core

#modernMT
aleph_alpha_client==6.0.0

# openai
openai==1.55.3

python-dotenv

# corticalio
responses==0.24.1

anthropic-bedrock==0.8.0

docstring_parser

pymupdf

asgiref
jsonschema>=4.22

litellm>=1.58.0

requests>=2.32