ffmpeg-python
langcodes
language-data
pandas
pdf2image
pillow
pycountry
pydantic
pylint
mypy
pydub
PyPDF
sagemaker
setuptools
python-magic

#doc
sphinx
furo

#postgres
psycopg2

#test
pytest-mock
pytest-cov
pytest
pytest-xdist
pytest-timeout

#affinda
affinda

#amazon
amazon-textract-response-parser
boto3

#clarifai
clarifai-grpc

#google
google-api-python-client==2.108.0
google-cloud-documentai==2.20.2
google-cloud-language==2.11.1
google-cloud-speech==2.22.0
google-cloud-storage==2.13.0
google-cloud-texttospeech==2.14.2
google-cloud-translate==3.12.1
google-cloud-vision==3.4.5
google-cloud-videointelligence==2.11.4
google-cloud-automl==2.11.4
google-cloud-aiplatform==1.36.4

#ibm
ibm-watson==7.0.1
watson-developer-cloud

#lettria
lettria==6.0.2

#microsoft
azure-ai-formrecognizer==3.3.2
azure-cognitiveservices-speech==1.33.0
azure-core

#modernMT
modernmt
aleph_alpha_client

# openai
openai==0.28

python-dotenv