ffmpeg-python
langcodes
language-data
pandas
pdf2image
pillow
pycountry
pydantic
pylint
pydub
PyPDF2
sagemaker
setuptools

#postgres
psycopg2

#test
pytest-mock
pytest-cov
pytest
pytest-xdist
pytest-timeout

#affinda
affinda

#amazon
amazon-textract-response-parser
boto3

#clarifai
clarifai-grpc==8.7.0

#google
google-api-python-client
google-cloud-documentai
google-cloud-language
google-cloud-speech
google-cloud-storage
google-cloud-texttospeech
google-cloud-translate
google-cloud-vision
google-cloud-videointelligence
google-cloud-automl

#ibm
ibm-watson>=6.0.0
watson-developer-cloud

#lettria
lettria==6.0.0

#microsoft
azure-ai-formrecognizer==3.1.2
azure-cognitiveservices-speech
azure-core
